

p {
    padding-top: 3vh;
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: "Roboto Light"
}
h1 {
    padding-top: 3vh;
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: "Roboto Light"
}
h2 {
    padding-top: 3vh;
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: "Roboto Light"
}
h3 {
    padding-top: 3vh;
    padding-right: 2vw;
    padding-left: 2vw;
    font-family: "Roboto Light";
}
h4 {
    font-family: "Roboto Light";

}

h6 {
    font-family: "Roboto Light";
    color: black;
}

body {
    background-color: #8b1e06;
}
.navbar-nav li a {
    color: white !important;
    font-family: "Bernard MT Condensed";
    font-size: large;
}

.navbar-text {
    color: white !important;
    font-family: "Bernard MT Condensed";
    font-size: large;
}

.navbar-custom {
    background-color: black !important;
}
.navbar-custom .navbar-text {
    color: azure !important;
}
.navbar-brand img {
    width: 100px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar-brand{
    margin-inside: 0 !important;
}


.carousel {
    padding-bottom: 0; !important;
}

.button {
    padding-bottom: 10vh; !important;
}

#cartScreen {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

}
#cartContent {
    background-color: #fefefe;
    z-index: 10;
    width: 50vw;
    margin: auto;

}

#cartCloseButton {
    background-color: #fefefe;
    z-index: 10;
    width: 50vw;
    margin: auto;

}

#cartButton {
    background: none;
    border: none;
    font-family: "Bernard MT Condensed";
    font-size: large;
    color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#foodColumn {
    width: 30vw;
}

#cartText {
    font-size: x-large;
}

#contactMap {
    width: 100%;
    height: 60vh;
}

.btn-primary {
    margin-top: 2vh;
}

#quoteImage {
    width: 100%;


}

#carouselImage {
    filter: contrast(60%);
    width: 100%;
    height: 80vh;
}

